@import "public.css";

html,body{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: '微软雅黑';
}
.aLive-top{
    width: 100%;
    height: 8%;
    background: #161b20;
    position: absolute;
    top: 0;
    left: 0;
    padding-left:  2%;
    padding-right:  2%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
}
.aLive-top h4{
    color: #b5b9bc;
    font-weight: normal;
    margin-top: 10px;
    display: table-cell;
    vertical-align: middle;
}
.aLive-top h4 span{
    display: inline-block;
}
.aLive-top h4 span b{
    border: 2px #8b0000 solid;
    padding: 0 5px;
    color: red;
    display: inline-block;
    box-shadow: 2px 3px 2px #8b0000;
    margin-left: 10px;
    font-weight: normal;
}

.aLive-center{
    width: 100%;
    height: auto;
    position: absolute;
    top: 8%;
    bottom: 0;
    left: 0;
}
.userImg{
    height: 100%;
    float: right;
    color: #7d7d7d;
    display: table;
}
.userImg>div.middle{
    display: table-cell;
    vertical-align: middle;
}
.userImg>div.middle>div{
    width: 35px;
    height: 35px;
    border-radius:50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin-top: -10px;
}
.userImg>div.middle>div>img{
    width: 100%;
}
.aLc-left{
    width: 18%;
    height: 99.8%;
    position: absolute;
    top: 0;
    left: 0;
    color: #f4f5f5;
    background: #161b20;
    border-top: 2px #25272a solid;
}
.slideTop{
    width: 93%;
    height: 24%;
    position: absolute;
    top:0;
    right: 0;
    overflow: hidden;
    background: #dcdddd;
}
.slideTop div{
    width: 100%;
}
.classTop{
    width: 93%;
    height: 40%;
    position: absolute;
    top:29%;
    right: 0;
    overflow: hidden;
}
.classTop>img{
    width: 90%;
}
.classTop>ul>li>h4{
    margin-top: 2%;
    font-size: 1em;
    color: #eeeeef;
}
.classTop>ul>li>span{
    font-size: 0.7em;
    color: #eeeeef;
}
.students{
    width: 93%;
    height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 2px #202327 solid;
    overflow: auto;
}
.inStudents{
    margin-top: 5%;
}
.inStudents img{
    width: 90%;
}
.inStudents>h4{
    font-size: 0.95em;
    margin-bottom: 5px;
}
.inStudents>h4>span{
    color: #52b402;
}
.inStudents>ul>li{
    margin-top: 5%;
}
.inStudents>ul>li>img{
    border-radius: 50%;
    margin-right: 5px;
}
.inStudents>ul>li>span{
    font-size: 0.8em;
    position: relative;
    top: -6px;
}
.aLc-center{
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 18%;
    right: 18%;
}
.aLc-cLeft{
    width: 1%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #454545;
    color: #eeeeef;
    text-align: center;
    font-size: 1em;
}
.aLc-cLeft>i{
    position: absolute;
    top: 50%;
    margin-top: -25%;
    left: 50%;
    margin-left: -25%;
}
.aLc-cLeft>i:hover{
    cursor: pointer;
}
.aLc-cCenter{
    width: auto;
    height: 100%;
    position: absolute;
    left: 1%;
    right: 1%;
    top: 0;
    background: #dcdddd;
}
.aLc_cVideo{
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0;
    top: 0;
}
video{
    width:100%;height:100%;position: absolute;top:0;left: 50%;margin-left: -50%;
}
.bottomControl{
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0;
    top: 90%;
    bottom: 0;
    background: #000000;
}
.playControl{
    position: absolute;
    top: 20%;
    left: 1%;
    color: white;
    font-size: 40px;
}
.playControl:hover{
    cursor: pointer;
}
.aLc-cRight{
    width: 1%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #454545;
    color: #eeeeef;
    text-align: center;
    font-size: 1em;
}
.aLc-cRight>i{
    position: absolute;
    top: 50%;
    margin-top: -25%;
    right: 50%;
    margin-right: -25%;
}
.aLc-cRight>i:hover{
    cursor: pointer;
}
.aLc-right{
    width: 18%;
    height: 99.8%;
    position: absolute;
    top: 0;
    right: 0;
    background: #161b20;
    border-top: 2px #25272a solid;
}
.aLcR-top{
    width: 95%;
    height: 12%;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.aLcR-top h4{
    padding-left: 20px;
    background: url("../images/aLive_message.png") no-repeat left center;
    color: #a6aaae;
    float: left;
}
.aLcR-top>div{
    width: 70%;
    border: 1px #909498 solid;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
}
.aLcR-center{
    width: 95%;
    height: auto;
    position: absolute;
    top: 12%;
    bottom: 12%;
    right: 0;
    color: #a5a9ac;
    overflow: auto;
}
.aLcR-center>ul>li{
    font-size: 0.8em;
}
.aLcR-center>ul>li>span.greenC{
    color: #55b804;
}
.aLcR-center>ul>li>span.blueC{
    color: #04a4eb;
}
.aLcR-center>ul>li>p{
    color: #9da5aa;
}
.aLcR-footer{
    width: 95%;
    height: 12%;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #a5a9ac;
    border-top: 2px #1f2226 solid;
}
.group-input{
    width: 95%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 25%;
    background: #454545;
    border-radius: 5px;
    overflow: hidden;
}
.group-input input[type='text']{
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10%;
    background: #454545;
    color: #a5a9ac;
    font-family: '微软雅黑';
}
.group-input input[type='button']{
    width: 20%;
    height: 100%;
    background: #54b802;
    color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.aLive-footer{
    width: 100%;
    height: 8%;
    background: #020202;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*播放器css*/
#play{
    position: absolute;
    top: 30%;
    left: 1%;
    font-size: 25px;
}
#play,#sound,#moveBlock,#sound_moveBlock,#fullScreen:hover{
    cursor: pointer;
}
#sound{
    /*height: 10px;*/
    /*width: 10px;*/
    position: absolute;
    left: 1%;
    top: 30%;
    font-size: 25px;
    color: #797e83;
}
#timeCurr{
    position: absolute;
    left: 4%;
    top: 32%;
}
#videoContent{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    color: #605e5f;
}

#videoControls{
    position: absolute;
    left: 0;
    bottom:0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity:.8;
}
#progress{
    position: absolute;
    height: 9%;
    width: 100%;
    left:0;
    top:0;
    background: #4e565a;
}
#progressBG{
    position: absolute;
    height: 100%;
    width: 0;
    left:0;
    top:0;
    background-color: #40ba2e;
}
#moveBlock{
    position: absolute;
    height: 200%;
    width:  0.8%;
    left:0;
    top:-20%;
    background-color: #f5f5f5;
    border-radius: 50%;
}
#sound_progress{
    position: absolute;
    height: 8px;
    width: 70px;
    left:4%;
    top:40%;
    background: #b6b6b6;
    border-radius: 8px;
}
#sound_progressBG{
    position: absolute;
    height: 8px;
    width: 70px;
    left:0;
    top:0;
    background-color: #40ba2e;
    border-radius: 8px;
}
#sound_moveBlock{
    padding: 0;
    margin:0;
    position: absolute;
    height: 11px;
    width: 11px;
    left:67px;
    top:-1px;
    background:#fcfcfc;
    border-radius: 8px;
}
/*#fullScreen{*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*background: url("../images/aLive_fullscreen.png") no-repeat;*/
    /*position: absolute;*/
    /*right: 1%;*/
    /*top: 30%;*/
/*}*/
.toggleCon{
    position: absolute;
    right: 1%;
    top: 30%;
}
.volumeBtn{
    position: absolute;
    right: 8%;
    top: 30%;
}
.toggleCon:hover{
    cursor: pointer;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.27);
    border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px #54b802;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(84, 184, 2, 0.40);
}


.twoCenter{
    left: 0;
}
.twoaLc-cCenter{
    left: 0;
}
.twoALC-top{
    top: 24%;
}
.twoaLcR-center{
    top: 30%;
}
/*遮罩层css*/
.form-maskLayer{
    width: 100%;
    /*height: 100px;*/
    background: #000000;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.form-font{
    width: 400px;
    background: white;
    border-radius: 10px;
    position: absolute;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    z-index: 1000;
}
.topBlue{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #04a8f4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: '楷体';
    font-size: 18px;
}
.form-font button{
    padding: 5px 20px;
    background:#04a8f4;
    color: white;
    border: none;
    font-family: '微软雅黑';
}
.form-font button:hover{
    cursor: pointer;
}
.form-font  input[type='text']{
    width: 200px;
    height: 26px;
    border: 1px #dcdcdc solid;
}
.passDiv{
    padding-left: 20px;
}