@import "public.css";
@import "header.css";
@import "footer.css";

.cutBig{
    width: 100%;
}
.cutBig img{
    width: 100%;
}
.addWeChat{
    width: 100%;
    height: 124px;
    line-height: 124px;
    background: #31393e;
    color: white;
    font-weight: bold;
    text-align: center;
}
.addWeChat span{
    font-size: 22px;
}
.addWeChat img{
    vertical-align: middle;
    margin-left: 24px;
}
.heavy{
    width: 950px;
    margin: 0 auto;
    padding: 52px 0 43px 0;
}
.heavy h1{
    text-align: center;
    color: #02a3e9;
    font-size: 35px;
    font-weight: normal;
}
.heavy ul{
    margin-top: 108px;
}
.heavy ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.heavy ul li{
    width: 216px;
    float: left;
    margin-right: 26px;
}
.heavy ul li:last-child{
    margin-right: 0;
}
.borderDiv{
    width: 220px;
    height: 209px;
    border: 2px #dcdddd solid;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
.headImg{
    width: 99px;
    height: 98px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -55px;
}
.headImg img{
    width: 100%;
}
.borderDiv h4{
    background: #23c2f8;
    color: white;
    padding: 2px 15px;
    font-weight: normal;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
}
.borderDiv h5{
    font-weight: normal;
    font-size: 13px;
    margin: 16px 0;
}
.borderDiv p{
    color: #7c7b7c;
    font-size: 12px;
    text-align: left;
}
.activeDiv{
    width: 100%;
    padding: 56px 0 86px 0;
    background: #eff4f7;
}
.activeDiv h1{
    color: #02a3e9;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
}
.activeContent{
    width: 1303px;
    margin: 0 auto;
    margin-top: 100px;
}
.active-left{
    width: 618px;
    float: left;
}
.active-left h4{
    background: #23c2f8;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    display: inline-block;
    font-size: 18px;
}
.active-left ul{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 12px;
}
.active-left ul li:first-child{
    color: #e5198e;
    margin-bottom: 10px;
    font-weight: bold;
}
.active-left ul li.addIcon{
    color: #e5198e;
    font-size: 20px;
    margin-left: 94px;
}
.active-left ul li.diffML{
    margin-left: 36px;
}
.active-left ul li.diffML02{
    margin-left: 30px;
}
.active-left ul li:last-child{
    margin-bottom: 14px;
}
.active-left ul.twoUl li{
    margin-bottom: 8px;
}
.active-right{
    width: 599px;
    float: left;
    margin-left: 80px;
}
