@import "public.css";
@import "footer.css";
@import "header.css";

.finance-title{
    width: 1180px;
    margin: 0 auto;
    margin-top: 50px;
}
.finance-title span{
    font-size: 18px;
}
.finance-title input{
    border: none;
    background: #a20205;
    border-radius: 5px;
    color: white;
    padding: 5px 14px;
    float: right;
    font-size: 15px;
    margin-top: 25px;
}
.finance-content{
    width: 1180px;
    margin: 0 auto;
    background: #eeeeef;
    margin-top: 15px;
    border: 2px #cccccc solid;
    padding: 22px 0;
}
.finance-content ul li{
    width: 100%;
    text-align: center;
    padding: 14px 0;
}
.finance-content ul li span{
    float: left;
    margin-left: 70px;
}
.finance-content ul li>b{
    font-weight: normal;
}
.finance-content ul li a{
    float: right;
    margin-right: 56px;
}
.finance-content ul li a i{
    font-size: 20px;
}
.finance-content ul li:hover{
    cursor: pointer;
    color: white;
}
.diffLiBack01 ul li:hover{
    background: #02349a;
}
.diffLiBack02 ul li:hover{
    background: #673434;
}
.diffLiBack03 ul li:hover{
    background: #04a4ea;
}
.finance-content ul li:hover a{
    color: white;
}
.bottomImg{
    width: 1180px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 49px;
}
.bottomImg img:first-child{
    margin-right: 7px;
}
.bottomImg>ul>li:first-child{
    margin-right: 10px;
    background: url("../images/finance_img01.png") no-repeat;
}
.bottomImg>ul>li:last-child{
    background: url("../images/finance_img02.png") no-repeat;
}
.bottomImg>ul>li{
    width: 584px;
    height: 182px;
    float: left;
    color: white;
}
.bottomImg>ul>li>ul{
    margin-top: 40px;
    margin-left: 310px;
}
.bottomImg>ul>li>ul>li:last-child{
    margin-left: 10px;
}
