#footer_nav{
    width: 100%;
    height: 37px;
    /*background: #1c1c1c;*/
    background: #363636;
}
#footer_nav div{
    width: 100%;
    height: 100%;
    color: #ffffff;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
}
#footer_nav div span a{
    color: white;
    text-decoration: underline;
}
#footer_nav div span a:hover{
    color: #0783a1;

}
#footer_nav div img{
    position: relative;
    top: 3px;
}

#footer_content {
    width: 100%;
    /*height: 270px;*/
    /*background: #eeeeef;*/
    background: #262626;
    padding-top: 27px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}

.fc_in {
    width: 1000px;
    margin: 0 auto;
}

.line-h{
    line-height: 10px!important;
    text-align: left!important;
    margin-left: 20px;
}

.fc_in ul {
    width: 12.5%;
    float: left;
}

.fc_in div {
    width: 12%;
    float: left;
    text-align: center;
    margin-top: 30px;
}

.fc_in div span {
    font-size: 12px;
    color: #a0a09f;
}

.fc_in ul li {
    list-style: none;
    padding: 5px;
    text-align: center;
}

.fc_in ul li:hover a {
    color: #02a3ea
}

.fc_in ul li a {
    text-decoration: none;
    color: #a0a09f;
    font-size: 12px;
    text-align: left;
    position: relative
}

.fc_in ul li a:hover .hover_ewm {
    display: block
}

.fc_in ul li a .hover_ewm {
    position: absolute;
    top: -102px;
    right: -80px;
    z-index: 999;
    display: none
}

.fc_in ul li:first-child a {
    font-size: 20px;
    color: #454996;
    border-bottom: 2px #88caa9 solid
}
/*--------------侧边栏------------*/
.sidebar-wrap {
    z-index: 999;
    position: fixed;
    right: 0;
    top: 50%;
    padding: 0 5px;
    margin-top: -165px;
    width: 45px;
    height: 330px;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: -2px 0px 5px 0px #e6e6e6;
}

.side-list {
    position: relative;
    cursor: pointer;
    height: 55px;
    float: none;
    padding-top: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.side-list:hover .side-out{
    display: block;
}

.side-list:nth-child(1):hover .side-icon {
    background: #1ed9ea;
}

.side-list:nth-child(2):hover .side-icon {
    background: #28d54e;
}

.side-list:nth-child(3):hover .side-icon {
    background: #9fd2ea;
}

.side-list:nth-child(4):hover .side-icon {
    background: #ea94a8;
}

.side-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 26px;
    background: #c3c3c3;
    overflow: hidden;
    border-radius: 50%;
}

.sidebar-name {
    font-size: 12px;
    line-height: normal;
    color: #454545;
    margin-top: 2px;
}

.side-top {
    cursor: pointer;
    line-height: 40px;
}

.side-top:hover {
    animation: side-top 0.4s linear both;
    -webkit-animation: side-top 0.4s linear both;
    -moz-animation: side-top 0.4s linear both;
}

@keyframes side-top {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-5px);
    }
    66% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@-webkit-keyframes side-top {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-5px);
    }
    66% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@-moz-keyframes side-top {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-5px);
    }
    66% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.side-out{
    display: none;
}
.side-wx{
    text-align: center;
    line-height: 107px;
    width: 113px;
    height: 107px;
    left: -125px;
    top: -15px;
    padding: 4px;
    background: url("../images-3/bg-11.png") no-repeat 0 0;
}
.side-wx img{
    width: 94px;
    margin: 0 11px 11px 0;
}
.side-tel{
    background: url("../images-3/bg-12.png")no-repeat 0 0;
    width: 212px;
    height: 45px;
    line-height: 45px;
    left: -220px;
    top:15px;
    color: #fff;
    font-size: 20px;
}

/*---------------footer-------------------------*/
.section-ft {
    background: #4D4D4D;
}

.ft-wrap {
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
}

.ft-wrap a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 16px;
    color: #fff;
}

.ft-wrap a:hover {
    color: #2ccaeb;
    text-decoration: underline;
}

.section-footer {
    background: #2D2E32;
    padding: 25px 0;
}

.footer-list {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 60px;
}

.footer-list:first-child {
    margin-left: 0;
}

.footer-list:last-child {
    margin-right: 0;
}

.footer-list li:first-child {
    color: #00FFFF;
    padding-bottom: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #00FFFF;
}

.footer-list li {
    position: relative;
    margin-top: 5px;
}
.footer-list li img.hover_ewm{
    display: none;
    z-index: 10;
    position: absolute;
    right: -100px;
    top: -30px;
}
.footer-list li:hover img.hover_ewm{
    display: block;
}

.footer-list li a {
    font-size: 12px;
    color: #cccccc;
}

.footer-list li a:hover {
    color: #2ccaeb;
}

.footer-list:nth-child(3) li a {
    padding-left: 5px;
}

.footer-list li a img.icon {
    margin-right: 3px;
    margin-top: -4px;
}

.footer-right {
    border-left: 1px solid #fff;
    padding: 10px 0 10px 45px;
}

.fr-t .erm-wrap {
    margin-right: 40px;
}

.fr-t .erm-wrap:nth-child(2) {
    margin-right: 0;
}

.fr-t .erm-name {
    color: #B7B8BF;
    font-size: 12px;
    margin-top: 10px;
}

.ft-tel-wrap {
    margin-top: 30px;
}

.ft-tel {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #FEFEFE;
    font-size: 30px;
}