.clearBox{
    clear: both;
}
.prac_banner{
    width: 100%;
    min-width: 1200px;
}
.prac_banner img{
    width: 100%;
}
.prac_content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 27px;
    /*border: 1px red solid;*/
}
.prac_left{
    width: 898px;
    float: left;
}
.l_oneC{
    width: 100%;
    background: #eeeced;
    padding: 17px 0 10px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.l_oneC h1{
    font-size: 25px;
    color: #676767;
    font-weight: normal;
}
.l_oneC p{
    color: #878586;
    font-size: 12px;
}
#tikumsg{
    font-size: 12px;
    display: block;
    color: #8b0000;
}
.timu_choose{
    width: 100%;
    margin-top: 15px;
}
.timu_choose>ul>li{
    width: 130px;
    height: 55px;
    float: left;
    position: relative;
}
.timu_choose>ul>li>b{
    width: 100%;
    height: 38px;
    line-height: 38px;
    font-weight: normal;
    font-size: 20px;
    display: block;
    color: #659cd4;
    border: 1px #659cd4 solid;
    text-align: center;
    border-radius: 15px;
    background: #eeeced;
}
.timu_choose>ul>li.grey_bac{
    background: #eeeced;
}
.timu_choose>ul>li.on{
    background: #5c94d0;
    color: white;
    border: none;
}
.timu_choose>ul>li:hover>b{
    cursor: pointer;
    background: #5c94d0;
    color: white;
    border: none;
}

.timu_choose>ul>li:hover .choose_mask{
   display: block;
}

.timu_choose>ul>li:not(:first-child)>b{
    /*margin-left: -25px;*/
    text-align: right;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.choose_mask{
    width: 252px;
    height: 108px;
    background: #5c94d0;
    position: absolute;
    top: 55px;
    left: 10px;
    border-radius: 10px;
    display: none;
}
.choose_mask ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.choose_mask ul li{
    float: left;
    color: white;
    font-size: 12px;
    line-height: 25px;
    margin-right: 5px;
}
.choose_mask ul li input{
    position: relative;
    top: 2px;
}
.choose_mask ul li:nth-child(3){
    margin-right: 0;
}
.choose_mask ul li:nth-child(4),.choose_mask ul li:nth-child(6){
    width: 108px;
    text-align: left;
}

.choose_mask ul li label:hover{
    cursor: pointer;
}
.seeZTresult{
    visibility: hidden;
}
.choose_mask a{
    /*width: 65px;*/
    height: 19px;
    line-height: 19px;
    background: #b8ddf7;
    color: #75a9d7;
    border-radius: 20px;
    font-size: 12px;
    display: block;
    float: right;
    text-align: center;
    padding: 0 10px;
    margin-right: 5px;
}
.choose_mask a:hover{
    background: #ffffff;
    color: #5c92cf;
}
.cho_box{
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
}
.choose_jian{
    width: 26px;
    height: 14px;
    background: url("../images/gmattest_sanjiao.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -14px;
    left:44px;
}
.prac_commonT{
    width: 100%;
    margin-top: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.prac_commonT h1{
    font-size: 25px;
    color: #686667;
    font-weight: normal;
}
.prac_commonT p{
    font-size: 12px;
    color: #686667;
}
.kaodian_box{
    width: 100%;
    margin-top: 20px;
    background: #eeeced;
    padding: 25px 10px 20px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.kapdian_hd{
   margin-left: 28px;
}
.kapdian_hd ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.kapdian_hd ul li{
    width: 116px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: #e4e2e3;
    float: left;
    margin-right: 30px;
    text-align: center;
    color: #689ccd;
}
.kapdian_hd ul li.on{
    background: #5a94d2;
    color: white;
}
.kapdian_hd ul li:last-child{
    margin-right: 0;
}
.kapdian_hd ul li:hover{
    cursor: pointer;
}
.kapdian_bd{
    margin-top: 15px;
}
.kapdian_bd ul{
    width: 100%;
    background: white;
    padding: 24px 0 22px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.kapdian_bd ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.kapdian_bd ul li{
    width: 144px;
    height: 21px;
    font-size: 14px;
    float: left;
    position: relative;
    color: #4f4f4f;
    margin-bottom: 10px;
}
.kapdian_bd ul li span:not(.kao_icon){
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.kapdian_bd ul li .kao_icon{
    background: #4a688c;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 12px;
}
.kapdian_bd ul li:hover{
    cursor: pointer;
    color: #04a5ed;
}
.kapdian_bd ul li:hover a{
    color: #04a5ed;
}
.kapdian_bd ul li:hover .kao_blue{
    display: block;
}
.kapdian_bd ul li:hover .kao_icon{
    background: #02a4e8;
}
.kao_blue{
    width: 79px;
    height: 93px;
    background: url("../images/gmattest_blueTC.png") no-repeat;
    position: absolute;
    left: 60px;
    top: -85px;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
}
.kao_blue p{
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.danxian_box{
    width: 100%;
    background: #eeeced;
    margin-top: 25px;
    padding-bottom: 20px;
}
.danxiang_top{
    width: 100%;
    background: #e5e5e5;
    padding: 18px 0 18px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.danxiang_top ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.danxiang_top ul li{
    line-height: 21px;
    padding:0 13px;
    color: #616161;
    float: left;
    border-right: 2px #5c94ce solid;
}
.danxiang_top ul li:last-child{
    border-right: none;
}
.danxiang_top ul li:hover{
    color: #5a95d0;
    cursor: pointer;
}
.danxiang_top ul li.on{
    color: #5a95d0;
}
.danxiang_two{
    margin-left: 15px;
    margin-top: 10px;
}
.danxiang_two ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.danxiang_two ul li{
    width: 103px;
    height: 37px;
    line-height: 37px;
    border-radius: 20px;
    background: #e4e2e3;
    color: #5d93ce;
    float: left;
    text-align: center;
    margin-right: 15px;
    font-size: 14px;
}
.danxiang_two ul li:hover{
    cursor: pointer;
}
.danxiang_two ul li.on{
    background: #5c94d0;
    color: white;
}
.danxiang_two ul li:last-child{
    margin-right: 0;
}
.spe_color{
    font-size: 12px;
    color: #5c94d0;
    margin-left: 5px;
}
.danxiang_con{
    width: 861px;
    margin: 0 auto;
    background: white;
    padding: 15px 0 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 25px;
}
.danxiang_con ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.danxiang_con ul li{
    width: 212px;
    height: 21px;
    float: left;
    margin-bottom: 10px;
}
.danxiang_con ul li .ku_icon{
    background: #48668a;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 12px;
}
.danxiang_con ul li:hover a{
    color: #06a3eb;
}
.danxiang_con ul li:hover .ku_icon{
    background: #06a3eb;
}
.prac_right{
    width: 281px;
    float: left;
    margin-left: 20px;
}
.reviewList{
    width: 100%;
    border-left: 1px #d2e2f2 solid;
    border-right: 1px #d2e2f2 solid;
    border-bottom: 1px #d2e2f2 solid;
    border-top-left-radius: 30px;
}
.review_title{
    width: 284px;
    height: 49px;
    line-height: 49px;
    background: url("../images/gmattest_phbBG.png") no-repeat;
    background-size: 100% auto;
    color: white;
    font-size: 18px;
    margin-left: -1px;
}
.review_title p{
    margin-left: 25px;
}
.review_top{
    width: 90%;
    margin: 0 auto;
}
.l_circle{
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    float: left;
    color: white;
    text-align: center;
    font-weight: bold;
}
.r_info{
    float: left;
    margin-left: 10px;
}
.r_info h4{
    color: #5e95cd;
    font-weight: normal;
}
.r_info p{
    color: #838383;
    font-size: 12px;
}
.review_top ul li:first-child .l_circle{
    background: #fb667f;
}
.review_top ul li:nth-child(2) .l_circle{
    background: #ff5e24;
}
.review_top ul li:nth-child(3) .l_circle{
    background: #7ca758;
}
.review_top ul li{
    padding: 10px 0;
    border-bottom: 1px #dce8f6 solid;
}
.bottomUl{
    width: 90%;
    margin: 0 auto;
}
.ulBd ul li{
    padding: 5px 0;
    font-size: 12px;
    color: #767573;
    border-bottom: 1px #dce8f6 solid;
}
.ulBd ul li:last-child{
    border-bottom: none;
}
.ulBd ul li .userN{
    width: 100px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
    float: left;
    color: #5d93ce;
}
.ulBd ul li .rightText{
    float: right;
}
.new_discussion{
    width: 100%;
    margin-top: 16px;
    border-left: 1px #d2e2f2 solid;
    border-right: 1px #d2e2f2 solid;
    border-bottom: 1px #d2e2f2 solid;
    border-top-left-radius: 30px;
}
.discussion_title{
    width: 284px;
    height: 49px;
    line-height: 49px;
    background: url("../images/gmattest_tmtl.png") no-repeat;
    background-size: 100% auto;
    color: white;
    font-size: 18px;
    margin-left: -1px;
}
.discussion_title p{
    margin-left: 25px;
}
.dis_body{
    width: 90%;
    margin: 0 auto;
}
.dis_bd ul li{
    border-bottom: 1px #dce8f6 solid;
    padding: 10px 0 5px 0;
}
.dis_bd ul li:last-child{
    border-bottom: none;
}
.dis_bd ul li h4 a{
    color: #58b6ec;
    font-weight: normal;
    font-size: 12px;
}
.dis_bd ul li p{
    color: #747474;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
}