@import "public.css";
@import "header.css";
@import "footer.css";
body{
    background: #f4f7f9;
}
.knowDetail{
    width: 1180px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 37px;
}
.knowD-left{
    width: 897px;
    float: left;
}
.leftSort01{
    width: 100%;
    background: white;
    border: 1px #d3d3d4 solid;
    padding: 25px 28px 43px 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.leftSort01 h1{
    color: #484544;
    margin-bottom: 15px;
}
.rightNum{
    border-left: 1px #e1e1e1 solid;
    padding-left: 10px;
    color: #353535;
    float: left;
}
.rightNum span{
    font-weight: bold;
    font-size: 30px;
    color: #ff7b24;
}
.xian{
    clear: both;
    width: 100%;
    border-bottom: 1px #e1e1e1 solid;
    padding-bottom: 15px;
}


/*分享css*/
.bshare-custom a{
    padding-left: 5px!important;
}
.bshare-custom a:nth-child(4){
    padding-left: 12px!important;
}
.bshare-custom a:last-child{
    margin-left: 5px!important;
}
.bshare-sinaminiblog{
    width: 63px!important;
    height: 31px!important;
    display: block!important;
    background: url("../images/know_shareicon01.png") no-repeat!important;
    float: left;
}
.bshare-weixin{
    width: 63px!important;
    height: 31px!important;
    display: block!important;
    background: url("../images/know_shareicon02.png") no-repeat!important;
    float: left;
}
.bshare-qzone{
    width: 63px!important;
    height: 31px!important;
    display: block!important;
    background: url("../images/know_shareicon03.png") no-repeat!important;
    float: left;
}
.more-style-addthis{
    width: 28px!important;
    height: 31px!important;
    display: block!important;
    background: url("../images/know_shareicon04.png") no-repeat!important;
    float: left;
}
.leftSort02{
    width: 100%;
    background: white;
    border: 1px #dcdcdc solid;
    padding: 20px 0 20px 35px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 13px;
}
.leftSort02 ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.leftSort02 ul li{
    float: left;
    margin-right: 17px;
}
.leftSort02 ul li:first-child{
    font-weight: bold;
    color: #535150;
}
.leftSort02 ul li.border{
    border-left: 1px #c9c9c9 solid;
    padding-left: 17px;
}
.leftSort02 ul li:nth-child(2) span{
    color: #02a3e9;
}
.leftSort02 ul li:nth-child(3) span{
    color: #f0861b;
}
.leftSort02 ul li:nth-child(4) span{
    color: #3bb276;
}
.leftSort02 ul li:last-child{
    margin-left: 30px;
}
.leftSort02 ul li:last-child a{
    width: 116px;
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    color: white;
    background: #02a3e9;
    border-radius: 5px;
    font-size: 12px;
}
.leftSort02 ul li:last-child a img{
   position: relative;
    top: 4px;
}

.knowD-right{
    width: 263px;
    float: left;
    margin-left: 18px;
}
.showFont{
    font-size: 12px;
    color: #6b6867;
    margin-top: 28px;
    word-wrap: break-word;
}
.rightSort01{
    width: 100%;
    text-align: center;
    background: white;
    padding: 14px 0 28px 0;
    border: 1px #e8eaec solid;
}
.rightSort01 a{
    width: 169px;
    height: 37px;
    line-height: 37px;
    display: block;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background: #02a3e9;
    margin: 0 auto;
}
.rightSort02{
    width: 100%;
    background: white;
    padding: 10px 15px 25px 14px;
    border: 1px #e8eaec solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 15px;
}
.rightSort02 h4{
    color: #484544;
    font-size: 20px;
    border-bottom: 1px #d0d0d0 solid;
    padding-bottom: 10px;
}
.rightSort02 h4 img{
    position: relative;
    top: 5px;
}
.rightSort02 ul li{
    margin-top: 12px;
}
.rightSort02 ul li:hover a{
    color: #02a3e9;
    text-decoration: underline;
}