@import "header.css";
@import "footer.css";
@import "public.css";

.knowHead{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: url("../images/know_xqBG.png") no-repeat;
    color: white;
}
.inknHe{
    width: 1155px;
    margin: 0 auto;
}
.inknHe .bshare-custom{
    float: right;
    margin-top: 60px;
}
.inknHe b.bigTitle{
    font-size: 25px;
}
.inknHe span{
    margin-left: 50px;
}
.inknHe span b{
    color: goldenrod;
}
.knowXQ_content{
    width: 1165px;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 40px;
}
.knowXQ_content .comeBack{
    color: #11a6f2;
    float: right;
    text-decoration: underline;
}
.xq_conLeft{
    width: 873px;
    float: left;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-right: 2px #bebebe solid;
}
.xq_conLeft h3{
    color: #02a3ea;
    margin-bottom: 25px;
}
.xq_conLeft div.xq-content{
    font-size: 14px;
    word-wrap: break-word;
    /*word-break:break-all;*/
}
.lijiTest{
    width: 67px;
    height: 52px;
    background: #9a9a9a;
    float: left;
    margin-top: 56px;
    text-align: center;
    font-size: 14px;
}
.lijiTest img{
    margin-top: 5px;
}
.lijiTest a{
    color: white;
}
.corresponding{
    width: 100%;
}
.corresponding>p{
    color: #556ebb;
    font-size: 20px;
    padding-left: 25px;
    background: url("../images/know_book.png") no-repeat left center;
}
.corresponding>div{
    border: 1px #c2c1c2 solid;
    background: #e7e7e7;
    padding: 0 7px 10px 7px;
    margin-top: 12px;
    width:auto;
    display:inline-block !important;
    display:inline;
}
.corresponding>div>b{
    font-weight: normal;
    color: #5a5654;
    margin-right: 7px;
    font-size: 18px;
}
.corresponding>div>b>span{
    font-size: 14px;
}
.corresponding>div>span{
    color: white;
    background: #638eed;
    padding: 0 10px;
    margin-right: 2px;
    font-size: 18px;
}
.corresponding>div>a{
    color: #638eed;
    border-left: 2px #afaead solid;
    padding-left: 12px;
    margin-left: 10px;
    font-size: 20px;
}
.corresponding>div>a>img{
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.testInfo{
    /*width: 236px;*/
    height: 54px;
    background: #ccfefe;
    float: left;
    margin-top: 56px;
    color: #3c61b8;
    padding: 0 10px 0 14px;
    position: relative;
}
.testInfo img{
    position: absolute;
    top: 0;
    right: -9px;
}
.testInfo p{
    font-weight: bold;
    margin-top: 5px;
    font-size: 15px;
}
.testInfo p span{
  font-size: 12px;
}
.testInfo span.boSpan{
    font-size: 12px;
}
.xq_conRight{
    width: 290px;
    float: left;
    margin-top: 15px;
    padding-left: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.xq_conRight div ul li{
    padding: 5px 0;
    border-bottom: 1px #bcbcbc dotted;
}
.xq_conRight div ul li a{
    font-size: 14px;
    color: #828081;
}
.xq_conRight div ul li:hover a{
    color: #40b1e3;
    cursor: pointer;
}
.xq_conRight div{
    margin-top: 20px;
}
.greenDiv{
    width: 230px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    font-size: 20px;
    background: #4cc93b;
}