@import "public.css";
@import "header.css";
@import "footer.css";

.moreThanM{
    width: 100%;
    height: 477px;
    background: url("../images/member_bigBG.png") no-repeat;
    background-size: 100% 100%;
}
.inThan{
    width: 1083px;
    margin: 0 auto;
    padding-top: 77px;
}
.inThan-left{
    width: 620px;
    float: left;
}
.inThan-left b{
    color: white;
    font-weight: normal;
    font-size: 25px;
}
.inThan-left b span{
    color: #04ccff;
}
.inThan-left h1{
    color: white;
    line-height: 84px;
    font-size: 65px;
}
.inThan-left span{
    color: white;
    font-size: 40px;
}
.inThan-left>div{
    width: 345px;
    height: 63px;
    line-height: 63px;
    border: 1px #048eb1 solid;
    border-radius: 5px;
    color: #02ccff;
    text-align: center;
    margin-top: 34px;
    font-size: 35px;
}
.inThan-right{
    width: 458px;
    float: left;
}
.inThan-right>ul>li{
    width: 206px;
    float: left;
    margin-right: 44px;
}
.inThan-right ul li:last-child{
    margin-right: 0;
}
.inThan-right>ul>li>ul{
    margin-top: 10px;
}
.inThan-right>ul>li>ul>li:first-child{
   color: white;
   text-decoration: line-through;
    font-size: 20px;
}
.inThan-right>ul>li>ul>li:nth-child(2){
    color: #02ccff;
    font-size: 30px;
}
.inThan-right>ul>li>ul>li:last-child a{
    color: white;
    background: #0295ba;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}
.gmatVip{
    width: 1083px;
    margin: 0 auto;
    margin-top: 43px;
}
.vip-left{
    width: 344px;
    float: left;
    margin-top: 28px;
}
.vip-left img{
    width: 100%;
}
.vip-right{
    width: 650px;
    float: left;
    margin-top: 28px;
    margin-left: 85px;
}
.vip-right>ul>li{
    margin-bottom: 12px;
}
.vip-right>ul>li .vipCircle{
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    background: #43a6f5;
    border: 2px #d3ebfc solid;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.vip-right>ul>li>span{
    font-size: 17px;
    color: #484544;
    position: relative;
    top: -5px;
}
.botUl{
    margin-top: 20px;
}
.botUl ul li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #43a6f5;
    float: left;
    margin-right: 10px;
}
.gmatVip h1{
    font-size: 30px;
    color: #252525;
    text-align: center;
}
.gmatVip h1 span{
    border-bottom: 3px #cccccc solid;
}
.gmatSpecial{
    width: 100%;
    height: 423px;
    background: url("../images/member_bigBG02.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-top: 55px;
}

.inSpecial{
    width: 1170px;
    margin: 0 auto;
    padding-top: 75px;
}
.inSpecial h1{
    font-size: 30px;
    color: white;
    text-align: center;
}
.inSpecial h1 span{
    border-bottom: 3px #46b5ff solid;
}
.inSpecial>ul>li{
    width: 564px;
    height: 156px;
    border: 2px #909fba solid;
    float: left;
    margin-right: 32px;
}
.inSpecial>ul{
    margin-top: 56px;
}
.inSpecial>ul>li:last-child{
    margin-right: 0;
}
.inSpecial-left{
    width: 111px;
    height: 111px;
    line-height: 111px;
    border-radius: 50%;
    float: left;
    background: #40a7f3;
    color: #273457;
    text-align: center;
    font-size: 80px;
    margin-top: 19px;
    margin-left: 30px;
}
.inSpecial-right{
    width: 370px;
    float: left;
    text-align: right;
    color: #909fba;
    margin-top: 40px;
    font-size: 16px;
}
.inSpecial-right ul li{
    color: #ffffff;
}
.gmatDetails{
    width: 1163px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 67px;
}
.gmatDetails h1{
    font-size: 30px;
    color: #252525;
    text-align: center;
    margin-bottom: 30px;
}
.gmatDetails h1 span{
    border-bottom: 3px #cccccc solid;
}
.detailTable{
    width: 100%;
}
.table-top{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #43a6f6;
    color: white;
}
.table-top ul li{
    float: left;
}
.table-top ul li:first-child{
    width: 114px;
    text-align: center;
}
.table-top ul li:nth-child(2){
    width: 142px;
    text-align: center;
}
.table-top ul li:nth-child(3){
    width: 619px;
    text-align: center;
}
.table-top ul li:nth-child(4){
    width: 100px;
    text-align: center;
}
.table-top ul li:nth-child(5){
    width: 90px;
    text-align: center;
}
.table-top ul li:last-child{
    width: 78px;
    text-align: center;
}
.table-top ul li p{
    line-height: 18px;
    margin-top: 12px;
}
.table-top ul li p span{
    font-size: 12px;
}
.detailT-bot{
    width: 100%;
    margin-top: 18px;
}
.deBot-left{
    width: 114px;
    float: left;
    color: white;
    text-align: center;
    font-size: 25px;
    display: table;
    line-height: 25px;
}
.diffLeft-back{
    height: 643px;
    background: #43a6f6;
}
.diffLeft-back02{
    height: 441px;
    background: #f0861b;
}
.diffLeft-back03{
    height: 359px;
    background: #ff6767;
}
.diffLeft-back04{
    height: 174px;
    background: #6767ff;
}
.diffLeft-back05{
    height: 368px;
    background: #029c4d;
}
.deBot-left span{
    display: table-cell;
    vertical-align: middle;
}
.deBot-right{
    width: 1035px;
    float: left;
    margin-left: 14px;
}
.deBot-right>ul>li{
    width: 100%;
    font-size: 14px;
    color: #656667;
}
.deBot-right>ul>li.haveCursor:hover a{
    color: #04a4ea;
}
.deBot-right>ul>li>a{
    width: 100%;
    display: block;
    padding: 10px 0;
}
.deBot-right>ul>li:not(.haveCursor)>a{
    cursor:default;
}
.redColor{
    color: red;
}
.blueColor{
    color: #29a6e9;
}
.diffBack01>ul>li:nth-child(2n){
    background: #ddebf3;
}
.diffBack02>ul>li:nth-child(2n){
    background: #ffe9d1;
}
.diffBack03>ul>li:nth-child(2n){
    background: #ffdeef;
}
.diffBack04>ul>li:nth-child(2n){
    background: #dbdbff;
}
.diffBack05>ul>li:nth-child(2n){
    background: #cfffe5;
}
.deBot-right>ul>li>a>ul>li{
    float: left;
    text-align: center;
}

.deBot-right>ul>li>a>ul>li:first-child{
    width: 115px;
}
.deBot-right>ul>li>a>ul>li:nth-child(2){
    width: 605px;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}
.deBot-right>ul>li>a>ul>li:nth-child(3){
    width: 44px;
    color: #14a158;
}
.deBot-right>ul>li>a>ul>li:nth-child(4){
    width: 150px;
    color: #09a5e9;
}
.deBot-right>ul>li>a>ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.deBot-right>ul>li>a>ul>li:last-child{
    /*width: 25px;*/
    color: #e6232b;
}
.deBot-right>ul>li>a>ul>li>img{
    width: 20px;
    vertical-align: middle;
}
/*改版后新增css*/
.fiveModules{
    width: 100%;
    margin-top: 60px;
}
.fiveModules h1{
    font-size: 30px;
    color: #252525;
    text-align: center;
}
.fiveSilde{
    width: 100%;
}
.fivesHd{
    width: 1102px;
    margin: 0 auto;
    margin-top: 64px;
}
.fivesHd ul li{
    width: 191px;
    height: 74px;
    line-height: 74px;
    float: left;
    text-align: center;
    margin-right: 35px;
    border-top: 3px #9a9a9a solid;
    font-size: 25px;
    color: #9a9a9a;
}
.fivesHd ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.fivesHd ul li:last-child{
    margin-right: 0;
}
.fivesHd ul li:hover{
    cursor: pointer;
}
.fivesHd ul li.on{
    background: #02a3e9;
    border-top: 3px #02a3e9 solid;
    color: white;
}
.fivesBd{
    width: 100%;
    /*height: 808px;*/
    background: url("../images/member_fiveBG.png") no-repeat center;
}
.moreList{
    width: 1167px;
    margin: 0 auto;
    padding: 45px 0 100px 0;
}
.moreList table{
    width: 100%;
    border-collapse:collapse;
    background: white;
    color: #484544;
    font-size: 14px;
}
.moreList table tr th{
    background: #02a3e9;
    color: white;
    font-size: 16px;
    font-weight: normal;
}
.moreList table tr th:first-child,.moreList table tr td:first-child{
    padding-left: 20px;
    padding-right: 20px;
}
.moreList table tr th:nth-child(3),.moreList table tr th:nth-child(4),
.moreList table tr th:nth-child(5){
    text-align: center;
    white-space:nowrap;
}
.moreList table tr th:nth-child(3) span,.moreList table tr th:nth-child(4) span,
.moreList table tr th:nth-child(5) span{
    font-size: 12px;
}
.moreList table tr td:nth-child(3),.moreList table tr td:nth-child(4),
.moreList table tr td:nth-child(5){
    text-align: center;
}
.moreList table tr td:first-child{
    font-weight: bold;
    white-space:nowrap;
}
.moreList table tr td:nth-child(3){
    color: red;
}
.moreList table tr td:nth-child(4){
    color: #23afec;
}
.moreList table tr td:nth-child(5){
    color: #22a963;
}
.moreList table tr td{
    padding: 12px 0;
}
.moreList table tr:not(:first-child){
    border-bottom: 2px #d4dbd7 solid;
}
.moreList table tr:last-child{
    border-bottom: none;
}
.moreList table tr:nth-child(2),.moreList table tr:nth-child(3)
,.moreList table tr:nth-child(4){
    background: #e9f4ee;
}
.moreList table tr:nth-child(2) td:nth-child(1),.moreList table tr:nth-child(2) td:nth-child(2){
    color: #029c4d;
}
.moreList table tr:nth-child(3) td:nth-child(1),.moreList table tr:nth-child(3) td:nth-child(2){
    color: #029c4d;
}
.moreList table tr:nth-child(4) td:nth-child(1),.moreList table tr:nth-child(4) td:nth-child(2){
    color: #029c4d;
}