
.w12 {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/******************Banner*******************/
.banner-wrap {
    height: 370px;
    background: url("../images-4/bg-2.png") no-repeat center center;
    background-size: cover;
}

.banner-info {
    width: 595px;
    text-align: center;
}

.banner-tit {
    font-weight: normal;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 25px;
}

.banner-de1 {
    font-size: 60px;
    color: #ffffff;
    margin-bottom: 18px;
}

.banner-de2 {
    font-size: 40px;
    color: #f9f8ae;
    margin-bottom: 30px;
}

.banner-de3 {
    font-size: 26px;
    line-height: 60px;
    color: #ffffff;
    background: #667f9b;
}

/***************************内容 CSS **********************/
.content-left {
    width: 895px;
}

.content-right {
    width: 280px;
}

.cr-tit {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 30px;
    border-radius: 25px;
}

.triangle-1 {
    width: 0;
    height: 0;
    right: -25px;
    top: -4px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #496688;
    transform: rotate(45deg);
}

.triangle-2 {
    width: 0;
    height: 0;
    left: -13px;
    bottom: -3px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #496688;
    transform: rotate(-135deg);
}

.moldInfo-list, .txtMarquee-top {
    /*padding: 0 10px 20px 12px;*/
    padding: 0 5px 20px 7px;
}

.moldInfo-list li {
    text-align: center;
    padding: 7px 0;
    border-bottom: 1px solid #e9e9e9;
}

.mold-username {
    color: #496688;
    width: 68px;
    font-size: 14px;
    text-align: left;
    /*font-size: 16px;*/
    /*margin-bottom: 8px;*/
}
.mold-name{
    text-align: left;
    width: 130px;
    margin: 0 5px;
}
.score-text {
    font-size: 14px;
    color: #565656;
}

.score-text .mold-score {
    color: #496688;
}

/**************************左边************************/
.content-wrap {
    margin-bottom: 40px;
}

.l-tit {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #ffffff;
    left: 0;
    top: 0;
    line-height: normal;
    padding-top: 15px;
    width: 79px;
    height: 58px;
    background: url("../images-4/bg-4.png") no-repeat center center;
}

.tab-tit {
    font-size: 0;
    width: 815px;
    padding-left: 80px;
    height: 73px;
    border-radius: 36px;
    line-height: 73px;
    background: #eaeaea;
}

.tab-tit a {
    position: relative;
    cursor: pointer;
    margin-left: 70px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    color: #496688;
    font-size: 18px;
}

.tab-tit a.on {
    color: #02a3ea;
}

.tab-list-wrap {
    background: #eaeaea;
    padding-top: 37px;
    margin-top: -30px;
    padding-bottom: 35px;
}

.tab-list {
    display: none;
}

.tab-list li {
    float: left;
    margin: 13px 20px 0;
    position: relative;
    cursor: pointer;
}

.tab-list li:hover .small-h {
    background: #02a3ea;
}

.tab-list li:hover .big-h {
    background: #02a3ea;
    color: #ffffff;
}

.tab-list li:hover .hint {
    display: block;
}

.small-h {
    background: #496688;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.big-h {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    width: 155px;
    font-size: 13px;
    color: #5a5a5a;
    margin-left: 7px;
    border-radius: 10px;
    background: #ffffff;
}

.hint {
    z-index: 12;
    display: none;
    right: -75px;
    top: -80px;
    width: 91px;
    height: 70px;
    text-align: center;
    font-size: 13px;
    padding-top: 25px;
    color: #ffffff;
    background: url("../images-4/bg-5.png") no-repeat 0 0;
}

.hint em.color-4 {
    color: #ff9966;
}

.line-tab {
    bottom: 0;
    width: 148px;
    left: 150px;
    border-bottom: 5px solid #02a3ea;
}

.triangle-3 {
    width: 0;
    height: 0;
    left: 50%;
    bottom: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #02a3ea;

}