/*共有的css*/
@import "public.css";
@import "footer.css";
@import "header.css";

.workOnline{
    width: 1176px;
    height: 286px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 45px;
    border: 1px #cacaca solid;
    background: #eeeeee;
    padding-top: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.workLeft{
    width: 836px;
    float: left;
    margin-left: 40px;
}

.workLeft h4{
    color: #049b4e;
    margin-top: 20px;
}
.workLeft .blueColor{
    color: #02a3ea;
    font-size: 16px;
}
.workLeft ul.workUl01 li{
    color: #696b6a;
    font-size: 12px;
}
.workLeft ul.workUl02{
    margin-top: 5px;
    margin-bottom: 30px;
    overflow: auto;
}

.workLeft ul.workUl02 li{
    font-size: 16px;
    float: left;
    margin-right: 20px;
}
.workLeft ul.workUl02 li a{
    color: #787a77;
}
.workLeft ul.workUl02 li a label:hover{
    cursor: pointer;
}
input.mas_start {
    width: 226px;
    height: 54px;
    background: url("../images/newTiKu_zuotiBtn.png") no-repeat;
    border: 0;
    color: white;
    font-size: 26px;
    font-family: '微软雅黑';
    padding-left: 40px;
}
.workRight{
    width: 290px;
    float: left;
    margin-top: 26px;
}
.workRight img{
    margin-left: 30px;
}
#tikumsg{
    font-size: 12px;
    color: #8b0000;
}
#seeZTresult{
    font-size: 12px;
    color: #8b0000;
    display: none;
    margin-left: 90px;
}
.commonTitle{
    width: 1179px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.commonTitle .leftImg{
    float: left;
}
.commonTitle  .rightFont{
    float: left;
}
.commonTitle .rightFont p{
    color: #4a4444;
    font-size: 30px;
    margin-top: 10px;
}
.commonTitle .rightFont span{
    font-size: 15px;
    color: #a2a2a2;
}
.single{
    width: 1174px;
    /*height: 267px;*/
    margin: 0 auto;
    border: 1px #cacaca solid;
    background: #eeeeee;
    padding: 27px 37px 50px 37px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 35px;
}
.singleLeft{
    width: 185px;
    float: left;
}
.singleLeft ul li{
    padding: 10px 0 10px 30px;
    background: #2dabe1;
    color: white;
}
.singleLeft ul li:hover{
    cursor: pointer;
}
.singleLeft ul li.on{
    background: #dcdcdc;
    color: #2dabe1;
}
.singleRight{
    width: 878px;
    float: left;
    margin-left: 27px;
    position: relative;
}
.singleRight .found_more{
    height: 15px;
    position: absolute;
    bottom: -15px;
    right: 0;
    font-size: 12px;
    background: url("../images/tiku_index_yezi.png") no-repeat;
    background-size: auto 100%;
    padding-left: 15px;
    z-index: 999;
}
.singleRight .found_more:hover{
    background: url("../images/tiku_index_yezi_blue.png") no-repeat;
    background-size: auto 100%;
}
.singleRight .found_more:hover a{
    color: #2dabe1;
}
.singleRight .found_more a{
    color: #757575;
}
.singleRight ul{
    margin-top: 12px;
    margin-left: 20px;
}
.singleRight ul li{
    margin-right: 51px;
    float: left;
    margin-bottom: 24px;
}
.singleRight ul li:nth-child(4n){
    margin-right: 0;
}
.singleRight ul li .kaoTest{
    width: 174px;
    height: 25px;
    line-height: 25px;
    border: 1px #cacaca solid;
    text-align: center;
    position: relative;
    font-size: 14px;
}
.kaoTest .kaoIcon{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: #222222;
    color: white;
    text-align: center;
    display: table;
    position: absolute;
    left: -16px;
    top: -3px;
    font-size: 18px;
}
.kaoTest .kaoIcon  span{
    display: table-cell;
    vertical-align: middle;
}
.kaoTest .arrowsIcon{
    width: 22px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px #cacaca solid;
    background: url("../images/tiku_index_huiJ.png") no-repeat center;
}
.kaoTest .zzcIcon{
    width: 81px;
    height: 70px;
    position: absolute;
    right: -10px;
    top: -70px;
    z-index: 1000;
    background: url("../images/tiku_hover_ty.png") no-repeat;
    background-size: 100% 100%;
    display: none;
    color: #fff;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 2px;
}
.kaoTestBG{
    background: #dcdcdc;
}
.singleRight ul li:hover .arrowsIcon{
    background: url("../images/tiku_index_blueJ.png") no-repeat center;
    border-left: 1px #02a4eb solid;
}
.singleRight ul li:hover .kaoIcon{
    background: #02a4eb;
}
.singleRight ul li:hover .kaoTest{
    border: 1px #02a4eb solid;
    color: #02a4eb;
}
.singleRight ul li:hover .zzcIcon{
    display: block;
}
.ScCr{
    width: 1176px;
    /*height: 392px;*/
    margin: 0 auto;
    /*margin-bottom: 20px;*/
    border: 1px #cacaca solid;
    background: #eeeeee;
    padding: 22px 0 0 43px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 35px;
}
.ScCrLeft{
    width: 184px;
    float: left;
    padding-bottom: 97px;
}
.ScCrLeft ul li{
    padding: 12px 0 12px 43px;
    background: #2dabe1;
    color: white;
}
.ScCrLeft ul li:hover{
    cursor: pointer;
}
.ScCrLeft ul li.on{
    background: #dcdcdc;
    color: #2dabe1;
}
.ScCrRight{
    width: 878px;
    float: left;
    margin-left: 28px;
}
.ScCrRight>ul>li{
    width: 269px;
    /*height: 177px;*/
    position: relative;
}
.ScCrRight>ul>li>h4{
    color: #2dabe1;
}
.ScCrRight>ul>li ul>li{
    margin-top: 10px;
}

.ScCrRight>ul>li ul>li .kuTest{
    width: 178px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    font-size: 14px;
    border: 1px #d9dbda solid;
    position: relative;
    margin-left: 12px;
}
.kuTest .kuIcon{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background: #222222;
    color: white;
    display: table;
    text-align: center;
    position: absolute;
    top: -3px;
    left: -12px;
}
.kuTest .kuIcon span{
    display: table-cell;
    vertical-align: middle;
}
.kuTest .arrowRight{
    width: 16px;
    height: 100%;
    border-left: 1px #cacaca solid;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/tiku_index_huiJ.png") no-repeat center;
    background-size: 10px;
}
.rightBd ul li{
    /*border: 1px red solid;*/
    position: relative;
}
.fontPosition{
    position: absolute;
    left: 198px;
    top: 0;
    font-size: 12px;
    color: orange;
}
.ScCrRight>ul>li{
    float: left;
    margin-right: 35px;
    margin-bottom: 19px;
}
.ScCrRight>ul>li:nth-child(3n){
    margin-right: 0;
}
.ScCrRight>ul>li ul>li:hover .kuTest{
    color: #02a4eb;
    border: 1px #02a4eb solid;
}
.ScCrRight>ul>li ul>li:hover .arrowRight{
    border-left: 1px #02a4eb solid;
    background: url("../images/tiku_index_blueJ.png") no-repeat center;
    background-size: 10px;
}
.ScCrRight>ul>li ul>li:hover .kuIcon{
    background: #02a4eb;
}
.singleHd a{
    position: absolute;
    bottom:-25px;
    z-index: 11;
    font-size: 20px;
}
.singleHd a.prev{
    color: #2dabe1;
    right: 96px;
}
.singleHd a.next{
    color: #14b24f;
    right: 76px;
}
.singleHd a.prevStop{
    color: #2dabe1;
}
.singleHd a.nextStop{
    color: #2dabe1;
}
.fans{
    width: 1177px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.ReviewTheList{
    width: 272px;
    height: 336px;
    float: left;
}
.rtlHead{
    width: 100%;
    height: 47px;
    line-height: 47px;
    background: #2dabe1;
    color: white;
    padding-left: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
.rtlBody{
    width: 270px;
    height: 289px;
    border-left: 1px #807e7f solid;
    border-right: 1px #807e7f solid;
    border-bottom: 1px #807e7f solid;
    overflow: hidden;
    background: #eeeeee;
}
.topUl ul li{
    width: 100%;
    border-bottom:1px #807e7f solid;
}
.topUl ul li .leftImg{
    width: 47px;
    height: 48px;
    float: left;
    position: relative;
}
.topUl ul li .leftImg img.firstImg{
    position: absolute;
    left: 0;
    top: 0;
}
.topUl ul li .leftImg .inImg{
    width: 29px;
    height: 29px;
    border-radius: 29px;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 12px;
}
.topUl ul li .centerFont{
    width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    color: #767573;
    font-size: 12px;
    padding-top: 18px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.topUl ul li .rightBtn{
    float: right;
    background: #222222;
    color: white;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 10px;
    margin-right: 9px;
    margin-top: 19px;
}
.ulBd ul li{
    padding: 5px 5px 2px 10px;
    font-size: 12px;
    color: #767573;
}
.ulBd ul li .rightText{
    float: right;
}

.discussion{
    width: 876px;
    height: 333px;
    float: left;
    margin-left: 29px;
}
.discHead{
    width: 100%;
    height: 47px;
    line-height: 47px;
    color: white;
    padding-left: 18px;
    background: #2dabe1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
.discBody{
    width: 874px;
    height: 288px;
    border-left: 1px #807e7f solid;
    border-right: 1px #807e7f solid;
    border-bottom: 1px #807e7f solid;
    padding: 24px 0 0 27px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
    background: #eeeeee;
}
.discBd ul li{
    height: auto!important;
    margin-bottom: 15px;
}
.discBd ul li h4{
    font-weight: normal;
    margin-bottom: 5px;
}
.discBd ul li h4 a{
    color: #31a9dd;
}
.discBd ul li p{
    color: #352e2c;
    font-size: 14px;
}