@import "public.css";
@import "header.css";
@import "footer.css";

.queAq-head{
    width: 100%;
}
.queAq-head img{
    width: 100%;
}
.queAq-content{
    width: 1162px;
    margin: 0 auto;
    margin-top: 38px;
}
.queAqc-left{
    width: 767px;
    float: left;
}

.que-search{
    width: 100%;
    overflow: auto;
}
.que-search input[type='text']{
    width: 628px;
    height: 55px;
    border-left: 2px #ffdb5a solid;
    border-top: 2px #ffdb5a solid;
    border-bottom: 2px #ffdb5a solid;
    padding-left: 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 15px;
    font-family: '微软雅黑';
    float: left;
}
.que-search div{
    width: 135px;
    height: 55px;
    line-height: 55px;
    background: #ff811b;
    color: #fff5d3;
    float: left;
    text-align: center;
    font-size: 18px;
}
.que-search div:hover{
    cursor: pointer;
}
.que-search div input[type='submit']{
    height: 23px;
     background: url("../images/queAq_search.png") no-repeat left center;
    padding-left: 25px;
    color: #ffffff;
    font-family: '微软雅黑';
    font-size: 16px;
}
.newAnswer{
    width: 100%;
    margin-top: 19px;
}
.newAnswer h4{
    width: 109px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #42ab12;
    color: white;
    font-weight: normal;
    font-size: 18px;
}
.newBanner{
    width: 100%;
    height: 103px;
    background: #eeeeee;
    padding: 10px 15px 0 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.newBd{
    height: 85px;
    overflow: hidden;
}
.newBd ul li{
    margin-bottom: 12px;
}
.newBd ul li a{
    color: #f98830;
}
.newBd ul li span{
    font-size: 12px;
    color: #757575;
    float: right;
}

.successFul{
    margin-top: 22px;
}
.successHd ul li{
    width: 109px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    float: left;
    margin-right: 20px;
    color: #616161;
}

.successHd ul li:hover{
    cursor: pointer;
}
.successHd ul li.on{
    background: #42ab12;
    color: white;
}
.successBd{
    border-top: 1px #b3b3b3 solid;
}
.successBd-top{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #eeeeee;
    color: #888888;
}
.successBd-top ul{
    margin-left: 14px;
}
.successBd-top ul li{
    float: left;
    margin-right: 36px;
}
.successBd-top ul li label:hover{
    cursor: pointer;
}
.successBd-bot{
  margin-top: 30px;
}
#aid{
    display: none;
}
.successBd-bot ul li{
    margin-bottom: 25px;
}.successBd-bot ul li a:hover{
    color: #00a0e9;
}
.successBd-bot ul li p{
    color: #c9c9c9;
    border-bottom: 1px #c9c9c9 solid;
    font-size: 12px;
    padding-bottom: 6px;
    margin-top: 12px;
}
.successBd-bot ul li p span:hover{
    cursor: pointer;
}
.successBd-bot ul li p span{
    color: #000000;
    float: right;margin-right: 50px;
}
.fenPage{
    margin-top: 40px;
}
.fenPage ul li{
    float: left;
    margin-right: 5px;
}
.fenPage ul li a{
    background: #b6b6b6;
    padding: 1px 5px;
    color: white;
    border-radius: 3px;

}
.fenPage ul li.on a{
    background: #34388f;
}
.fenPage ul li:hover a{
    background: #34388f;
}
.left-img{
    float: left;
    width: 20px;
    height: 100%;
    border: 1px transparent solid;
}
.left-img{
    float: left;
}
.payMoneyA{
    float: right;
    margin-top: 26px;
    /*display: none;*/
}
.payM-left{
    width: 145px;
    float: left;
    color: #615f60;
}
.payM-left span{
    color: #f0861d;
    font-size: 45px;
}
.payM-right{
    width: 120px;
    float: left;
    text-align: center;
}
.payM-right a{
    width: 100%;
    height: 37px;
    line-height: 37px;
    color: white;
    text-align: center;
    display: block;
    background: #43ac13;
}
.payM-right span{
    font-size: 12px;
    color: #7d7d7b;
}
.showAnswerF{
    width: 100%;
    margin-top: 39px;
    /*display: none;*/
}
.showA-left{
    width: 26px;
    height: 26px;
    line-height: 26px;
    background: #42ad12;
    border-radius: 50%;
    color: white;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.showA-right{
    width: 716px;
    /*height: 144px;*/
    float: left;
    margin-left: 10px;
    border: 1px #47a919 solid;
    position: relative;
    padding: 22px 10px 13px 36px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.showA-right span p{
    color: #000000 !important;
}

.showA-right:before {
    content: "";    /*这一行必须有，否则这个特效不会显示*/
    border-top: 8px transparent solid;
    border-right: 8px #47a919 solid;
    border-bottom: 8px transparent solid;
    position: absolute;
    top: 15px;
    left: -8px;
}

.showA-right:after {
    content: "";
    border-top: 8px transparent solid;
    border-bottom: 8px transparent solid;
    border-right: 8px #fff solid;    /*纯白色*/
    position: absolute;
    top: 15px;
    left: -6px;
}
.leftAudio{
    width: 29px;
    height: 30px;
    float: left;
    background: url("../images/queAq_audioNoClick.png") no-repeat;
}
.leftAudio.on{
    background: url("../images/queAq_audioClick.png") no-repeat;
}
.leftAudio:hover{
    cursor: pointer;
}
.rightTime{
    width: 286px;
    height: 25px;
    float: left;
    margin-left: 4px;
    background: url("../images/queAq_timeBG.png") no-repeat;
    text-align: right;
    margin-top: 2px;

}
.rightTime span{
    color: #da6b02;
    font-size: 18px;
}
.timeAnswer{
    font-size: 12px;
    color: #b7b7b7;
    position: absolute;
    right: 9px;
    top: 9px;
}
.queAqc-right{
    width: 330px;
    float: left;
    margin-left: 63px;
}
.myQuiz{
    width: 100%;
    height: 159px;
    border: 1px #c6c6c6 solid;
    padding: 24px 5px 0 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 48px;
}
.myQuiz ul li{
    float: left;
}
.myQuiz ul li:first-child{
    border-right: 2px #a3daf5 solid;
    padding-right: 5px;
}
.myQuiz ul li:last-child{
    padding-left: 5px;
}
.myQuiz ul li h4{
    font-size: 35px;
    font-weight: normal;
}
.myQuiz ul li span{
    font-size: 12px;
}
.myQuiz ul{
    overflow: auto;
}
.myQuiz div{
    width: 296px;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    background: #02a3ea;
    color: #e8ffff;
    font-size: 18px;
    text-align: center;
    margin-top: 8px;
}
.myQuiz div img{
    margin-right: 10px;
}
.myQuiz div:hover{
    cursor: pointer;
}
h2{
    color: #565656;
}
.answerNum{
    width: 100%;
    /*height: 356px;*/
    border: 1px #c6c6c6 solid;
    margin-top: 9px;
    padding: 10px 20px 20px 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.answerN-left{
    width: 129px;
    height: 103px;
    float: left;
}
.answerN-left img{
    width: 100%;
    height: 100%;
}
.answerN-right{
    width: 149px;
    margin-left: 14px;
    float: left;
    margin-top: 22px;
}
.answerN-right span{
    font-size: 18px;
}
.answerN-right div{
    width: 100%;
    height: 31px;
    line-height: 31px;
    background: #43ac13;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 5px;
}
.teacherInfo{
    margin-top: 10px;
    color: #4a4645;
    font-size: 12px;
}
.teacherInfo p{
    margin-top: 19px;
}
.hotAnswer{
    margin-top: 36px;
}
.hotAnswer h2{
    border-bottom: 1px #bebebe solid;
    padding-bottom: 2px;
}
.hotAnswer ul li{
    padding: 13px 0 8px 0;
    border-bottom: 1px #908e8f dashed;
    font-size: 14px;
}
.hotAnswer ul li a{
    color: #332e2e;
}
.hotKey{
    margin-top: 42px;
}
.hotKey h2{
    border-bottom: 1px #bebebe solid;
    padding-bottom: 2px;
}
.hotKey{
    margin-bottom: 50px;
}
.hotKey ul{
    margin-top: 20px;
}
.hotKey ul li{
    margin-right: 8px;
    float: left;
}
.hotKey ul li:nth-child(4){
    margin-right: 0;
}
.hotKey ul li:nth-child(5){
    margin-left: 30px;
}
.hotKey ul li.mt{
    margin-top: 15px;
}
.hotKey ul li.bac01{
    background: #f05966
}
.hotKey ul li.bac02{
    background: #f68514;
}
.hotKey ul li.bac03{
    background: #0a8fe5;
}
.hotKey ul li{
    padding: 2px 5px;
    color: white;
    background: #b6b6b6;
    font-size: 13px;
}

/*弹出框css*/
.searchBox{
    width: 856px;
    height: 453px;
    border: 2px #cccccc solid;
    background: #eeeeee;
    position: fixed;
    left: 50%;
    margin-left: -428px;
    top: 50%;
    margin-top: -226px;
    padding: 54px 33px 0 38px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
}
.closeSearch{
    position: absolute;
    right: 10px;
    top: 8px;
    color: #a9a9a9;
    font-size: 25px;
}
.closeSearch:hover{
    cursor: pointer;
}
.searchBox h2{
    text-align: center;
    font-weight: normal;
    color: #f0861b;
}
.searchB-top{
    margin-top: 45px;
}
.reminder{
    color: #615f60;
    font-size: 14px;
    visibility: hidden;
}
.reminder span{
    color: #d83231;
    font-weight: bold;
}
.searchB-top ul li{
    float: left;
    color: #686868;
}
.searchB-top ul li:nth-child(2){
    margin-left: 5px;
}
.searchB-top ul li:first-child h4{
    color: #43ac14;
}
.searchB-top ul li label{
    margin-right: 20px;
}
.searchB-top ul li label:hover{
    cursor: pointer;
}
.searchB-area{
    width: 100%;
    margin-top: 5px;
}
.searchB-area textarea{
    width: 100%;
    height: 173px;
    border: 1px #bdbdbd solid;
    background: #fefefe;
    padding: 15px 22px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: '微软雅黑';
}
.searchB-area span{
    float: right;
    color: #605c5b;
    font-size: 14px;
}
.searchB-area span b{
    color: #d05055;
}
.answer-btn{
    width: 168px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #f0861b;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 26px;
}