@import "public.css";
@import "header.css";
@import "footer.css";

.liveTop{
    width: 100%;
    height: 58px;
    line-height: 58px;
    background: #364856;
    color: #fbffff;
    text-align: center;
    font-size: 25px;
}
.liveContent{
    width: 100%;
    height: 583px;
    background: url("../images/teacherLive_bg.png") no-repeat;
    background-size: 100% 100%;
    padding-top: 79px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.liveContent ul{
    width: 1182px;
    margin: 0 auto;
}
.liveContent ul li{
    width: 270px;
    height: 200px;
    float: left;
    margin-right: 26px;
    margin-bottom: 29px;
    text-align: center;
    border: 2px transparent solid;
}
.liveContent ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 52px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.liveContent ul li:nth-child(1){
    /*width: 372px;*/
    background: #cd9b2f;
}
.liveContent ul li:nth-child(2){
    /*width: 372px;*/
    background: #0a6ad0;
}
.liveContent ul li:nth-child(3){
    /*width: 372px;*/
    background: #379933;
}
.liveContent ul li:nth-child(4){
    /*width: 270px;*/
    background: #373566;
}
.liveContent ul li:nth-child(5){
    /*width: 270px;*/
    background: #9a3334;
}
.liveContent ul li:nth-child(6){
    /*width: 270px;*/
    background: #65366a;
}
.liveContent ul li:nth-child(7){
    /*width: 270px;*/
    background: #4f91b5;
}
.liveContent ul li:nth-child(8){
    /*width: 270px;*/
    background: #f26d19;
}
.liveContent ul li:nth-child(4n){
    margin-right: 0;
}
.liveContent ul li a h2{
    margin-bottom: 25px;
    line-height: 30px;
    color: #f1f1f1;
}
.liveContent ul li a span{
    font-size: 20px;
    background: url("../images/teacherLive_yaosi.png") no-repeat;
    padding-left: 22px;
}
.liveContent ul li:hover{
    background: none;
    border: 2px white solid;
}
.liveUseful{
    width: 1182px;
    margin: 0 auto;
    margin-top: 40px;
}
.liveUseful h2{
    text-align: center;
    font-weight: normal;
}
.liveUseful ul{
    margin-top: 57px;
}
.liveUseful ul li{
    margin-bottom: 50px;
}
.use-left{
    width: 480px;
    float: left;
}
.use-left p span{
    color: #369bff;
    font-weight: bold;
}
.use-right{
    width: 500px;
    float: left;
    text-align: center;
}
.use-right p span{
    color: #369bff;
    font-weight: bold;
}
.MTcon{
    margin-left: 200px;
}