@import "public.css";
@import "header.css";
@import "footer.css";
body{
    background: #f4f7f9;
}
.enhance{
    width: 1180px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 43px;
}
.enhance-left{
    width: 790px;
    float: left;
}
.enhanceNav{
    width: 100%;
    font-size: 12px;
}
.enhanceNav a:last-child{
    color: #1cadeb;
}
.enhanceArea{
    width: 100%;
    padding: 20px 27px 28px 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: white;
    margin-top: 24px;
}
.typeArea h4{
    font-weight: normal;
    font-size: 18px;
}
.orangeFont{
    color: #f39c43;
    font-size: 14px;
    float: right;
    margin-top: -15px;
}
.typeArea ul{
    margin-top: 15px;
}
.typeArea ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.typeArea ul li{
    width: 182px;
    height: 79px;
    float: left;
    border-left: 1px #c3c3c4 solid;
    border-top: 1px #c3c3c4 solid;
}
.typeArea ul li:nth-child(4n){
    border-right: 1px #c3c3c4 solid;
}
.typeArea ul li:nth-child(9),.typeArea ul li:nth-child(10),
.typeArea ul li:nth-child(11),.typeArea ul li:nth-child(12){
    border-bottom: 1px #c3c3c4 solid;
}

.typeArea ul li.on a{
    background: #d9f2ff;
}
.typeArea ul li a{
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: -moz-linear-gradient( #fefefe, #fbfbfb, #f7f7f7, #efefef);
    background: -webkit-linear-gradient( #fefefe, #fbfbfb, #f7f7f7, #efefef);
    background: -ms-linear-gradient( #fefefe, #fbfbfb, #f7f7f7, #efefef);
    background: -o-linear-gradient( #fefefe, #fbfbfb, #f7f7f7, #efefef);
}
.typeArea ul li a p{
    color: #02a3e9;
    font-size: 17px;
}
.typeArea ul li a p span.green{
    color: #40a070;
    font-size: 12px;
}
.typeArea ul li a>span{
    font-size: 12px;
}
.typeArea ul li a p span.red{
    color: #cf3e0e;
    font-size: 12px;

}

.topicArea{
    width: 100%;
    margin-top: 23px;
    border: 1px #5ec4f1 solid;
    position: relative;
    padding: 30px 18px 16px 34px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.targ{
    position: absolute;
    top: -17px;
    right: 15px;
}
.resultShow{
    width: 100%;
    border-bottom: 1px #c0c0c0 solid;
    padding-bottom: 14px;
}
.resultShow h4{
    font-weight: normal;
    font-size: 18px;
}
.resultShow ul{
    float: right;
    font-size: 14px;
    margin-top: -20px;
}
.resultShow ul li{
    float: left;
    color: #4a4746;
}
.resultShow ul li:not(:last-child){
    font-style: italic;
    margin-right: 12px;
}
.resultShow ul li:last-child {
    margin-top: -5px;
}
.resultShow ul li:last-child a{
    width: 98px;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: center;
    margin-right: 0;
    background: #ff9a34;
    color: white;
    font-size: 12px;
}
.resultShow ul li:last-child a img{
    vertical-align: middle;
}
.listShow{
    width: 100%;
}
.listShow>ul>li{
    border-bottom: 1px #a5a5a6 solid;
    padding-bottom: 15px;
    margin-top: 20px;
}
.listShow>ul>li h5{
     background: url("../images/timu_list_bianji_blue.png") no-repeat;
     padding-left: 22px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
 }
.listShow>ul>li h5:hover{
    background: url("../images/timu_list_bj_orange.png") no-repeat;

}
.listShow>ul>li h5:hover a{
    color: #ed4c04;
}
.listShow>ul>li h5 a{
    color: #02a3e9;
}
.listShow>ul>li div.article{
    font-size: 14px;
    word-wrap: break-word;
}
.listShow>ul>li div.article a{
    display: block;
    color: #342e2d;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}
.bottomChoose{
    width: 100%;
    margin-top: 10px;
}
.bottomChoose ul{
    float: right;
}
.bottomChoose ul li{
    float: left;
    color: #32309c;
    font-size: 14px;
    margin-right: 10px;
}
.bottomChoose ul li:last-child{
    margin-right: 0;
}
.bottomChoose ul li a{
    color: #32309c;
}
.bottomChoose ul li span span{
    color: red;
}
/*分页*/
.page{
    width: 100%;
    margin-top: 20px;
}
.page ul:after{
    display:block;clear:both;content:"";visibility:hidden;height:0;
}
.page ul li{
    width: 23px;
    height: 23px;
    float: left;
    margin-right: 8px;
}
.page ul li a{
    width: 100%;
    height: 100%;
    line-height: 23px;
    text-align: center;
    display: block;
    border: 1px #04a5ff solid;
    color: #04a5ff;
    border-radius: 5px;
}
.page ul li a.on{
    background: #04a5ff;
    color: white;
}
.enhance-right{
    width: 360px;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
.update{
    background: white;
    padding: 20px 26px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.update h4{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 30px;
}
.update ul li{
    margin-bottom: 15px;
}
.update ul li h5{
    font-weight: normal;
    margin-bottom: 5px;
}
.update ul li h5 a{
    color: #02a3e9;
}
.update ul li div.paragraph{
    font-size: 12px;
    display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.update ul li div.paragraph a{
    color: #6c6766;
}
.weChar{
    width: 100%;
    background: white;
    padding: 16px 18px 20px 25px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 25px;
}
.weChar h4{
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px #b3b3b4 solid;
    padding-bottom: 10px;
}
.weChar ul{
    margin-left: 18px;
}
.weChar ul li{
    margin-top: 30px;
}
.weChar ul li p{
    margin-bottom: 10px;
}
.weChar ul li img{
    width: 237px;
}
.advert{
    width: 100%;
    margin: 40px 0;
}
.advert img{
    width: 100%;
}